body{
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, p {
    font-family: 'Inter', sans-serif;
}

.faqContainer {
    margin: 50px auto;
    width: 80%;
    max-width: 1200px;
    height: 100%;
  }

  .faqContainer h1{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #1E1E1E;
    line-height: 1;
    text-align: center;
  }

  .faqContainer h2{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0px;
    color: #1E1E1E;
  }

  .faqContainer p{
    font-size: 20px;
    color: #1E1E1E;
    line-height: 1;
    margin-bottom: 14px;
  }
  
  .faqList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .faqItem {
    margin-top: 20px;
    width: calc(50% - 20px);
    margin-bottom: 30px;
    background-color: #f8f8f8;
    border: 1px solid #E0AFA0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .faqQuestion {
    padding: 15px;
    margin: 0;
    font-size: 20px;
  }
  
  .faqAnswer {
    padding: 15px;
  }

  /*contact page*/

  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F3F6F4;
}

.contact{
    position: relative;
    max-width: 1440px;
    min-height: 100vh;
    padding: 50px 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    text-align: center;

}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #1E1E1E;

}

.contact .content p {
    font-weight: 300;
    color: #1E1E1E;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.container .contactInfo{
    width: 50%; 
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text {
display: flex;
margin-left: 20px;
font-size: 20px;
flex-direction: column;
font-weight: 400;
color: #1E1E1E;
}

.container .contactInfo .box .text h3 {
font-weight: 600;
margin-bottom: 8px;
}

.contactForm {
width: 50%;
padding: 40px;
background: #fff;
}

.contactForm h2{
font-family: 'Inter', sans-serif;
text-transform: uppercase;
font-size: 36px;
font-weight: 600;
margin-bottom: 24px;
color: #1E1E1E;
line-height: 1;
text-align: center;
}

.contactForm .inputBox{
position: relative;
width: 100%;
margin-top: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
width: 100%;
padding: 10px;
font-size: 18px;
margin: 10px 0;
border: none;
border-bottom: 2px solid #E0AFA0;
outline: none;
color: #1E1E1E;
}

.contactForm .inputBox span {
position: absolute;
Left: 0;
padding: 10px 0;
font-size: 16px;
margin: 10px 0;
pointer-events: none;
transition: 0.5%;
color: #999;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
color: #E0AFA0;
font-size: 14px;
transform: translateY(-24px);
}

.contactForm .inputBox input[type= "submit"]
{
width: 100%;
background: #E0AFA0;
color: #fff;
border: none;
cursor: pointer;
padding: 14px;
font-size: 18px;
font-weight: 500;
margin-top: 24px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
transition: all 0.3s ease;
}

.contactForm .inputBox input[type= "submit"]:hover
{
background: #1E1E1E;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

