.main-product {
    max-width: 1440px;
    /* height: 100vh; */
    margin: 2rem auto 0 auto;
    text-align: center;
}

.main-product h2 {
    font-size: 1.7rem;
    font-weight: 500;
}

.front-page {
    display: flex;
    margin: 3rem 0 0 3rem;
}

.all-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    width: 85%;
    margin-bottom: 2rem;
}

.categories {
    text-align: left;
    margin: 0 2rem 0 0;
    width: 15%;
}

.category {
    cursor: pointer;
    padding: 5px 15px;
    margin: 4px 0;
    border: 2px solid #181717;
    background: #ffffff;
    border-radius: 1rem;
}

.categories .pressed {
    background: linear-gradient(to bottom right, #f3d6cd, #efbbaa);
}

.categories h3 {
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 5px;
}

.product-price {
    color: #616161;
    margin-bottom: 0.8rem;
}

.product-inner-box {
    background: #b0b0b0;
    cursor: pointer;
    object-fit: cover;
    width: 13rem;
    height: 13rem;
}

.product-inner-box:hover {
    background: #b0b0b0;
    object-fit: contain;
    width: 13rem;
    height: 13rem;
}

.product-outer-box {
    text-align: left;
    user-select: none;
}

.add-to-cart {
    cursor: pointer;
    padding: 5px 15px;
    border: 2px solid #626262;
    background: #ffffff;
    border-radius: 0.5rem;
    transition: border .1s ease-in-out;
}

.add-to-cart:hover {
    border: 2px solid #f5b29c;
}

@media only screen and (max-width: 724px) {
    .front-page {
        flex-direction: column;
        margin: 3rem 3rem 0 3rem;
    }

    .categories:not(.categories-text) {
        width: 100%;
        align-items: center;
        margin-bottom: 1rem;
    }

    .all-products {
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
        width: 101%;
        gap: 0.5rem;
    }
    
}
